.balance {
    width: 310px;
    padding:10px;
    & > div {
        display: grid;
        grid-template-columns: 80px 160px 60px;
        grid-template-rows: auto;
        grid-template-areas: 
            "symbol sparkline actions"
            "value sparkline bnb"
            "_ sparkline gains";
        margin:         5px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        & > div {
            justify-self: stretch;
            align-self: stretch;
        }
        & > .symbol {
            grid-area: symbol;
            font-size: 14px;
            font-weight: 800;
            color: #8BC34A;
            &.high {
                color: rgba(33,150,243 ,1);
            }
            &.low {
                color: #FB8C00;
            }
            &.negative {
                color: #f31c1c;
            }
            &.dumped {
                color: #741010;
            }
        }
        & > .balance_actions {
            grid-area: actions;
        }
        & > .value {
            grid-area: value;
            font-size: 10px;
            font-weight: 300;
            color: #a5a5a5;
        }
        & > .sparkline {
            grid-area: sparkline;
        }
        & > .bnb {
            grid-area: bnb;
            font-size: 11px;
            font-weight: 400;
            color: #a5a5a5;
            text-align: right;
        }
        & > .gains {
            grid-area: gains;
            font-size: 10px;
            font-weight: 300;
            color: #8BC34A;
            text-align: right;
            &.high {
                color: rgba(33,150,243 ,1);
            }
            &.low {
                color: #FB8C00;
            }
            &.negative {
                color: #f31c1c;
            }
            &.dumped {
                color: #741010;
            }
        }
    }
}