.explorer {
    padding:10px;
    & > div {
        display: grid;
        grid-template-columns: 150px 150px 250px;
        grid-template-rows: auto;
        grid-template-areas: 
            "symbol sparkline address"
            "timeago sparkline actions";
        margin-bottom: 15px;
        grid-gap: 5px;

        & > div {
            justify-self: stretch;
            align-self: stretch;
        }
        & > .explorer_symbol {
            grid-area: symbol;
            justify-self: start;
            font-size: 14px;
            font-weight: 800;
            color: #ffffff;
        }
        & > .explorer_created {
            display: none;
            grid-area: created;
            justify-self: end;
            font-size: 10px;
            font-weight: 300;
            color: #a5a5a5;
            text-align: right;
        }
        & > .explorer_createdAgo {
            grid-area: timeago;
            justify-self: start;
            font-size: 10px;
            font-weight: 400;
            color: #a5a5a5;
            text-align: right;
        }
        & > .explorer_address {
            grid-area: address;
            justify-self: end;
            font-size: 9px;
            font-weight: 300;
            color: #d3d3d3;
            text-align: left;
        }
        & > .explorer_actions {
            grid-area: actions;
            justify-self: end;
            font-size: 9px;
            font-weight: 300;
            color: #d3d3d3;
            text-align: left;
        }
        & > .explorer_sparkline {
            grid-area: sparkline;
        }
    }
}